@model Drogueria1._1_.Models.Farmacium

@{
    ViewData["Title"] = "Crear";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="mb-3">
                    <label for="IdSucursal" class="form-label">Código</label>
                    <input asp-for="IdSucursal" class="form-control" id="IdSucursal" />
                    <span asp-validation-for="IdSucursal" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="NombreSucursal" class="form-label">Nombre</label>
                    <input asp-for="NombreSucursal" class="form-control" />
                    <span asp-validation-for="NombreSucursal" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="DireccionSucursal" class="form-label">Dirección</label>
                    <input asp-for="DireccionSucursal" class="form-control" />
                    <span asp-validation-for="DireccionSucursal" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
