@model Drogueria1._1_.Models.Farmacium

@{
    ViewData["Title"] = "Detalles";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="form-label">Código</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSucursal)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Nombre</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreSucursal)
        </dd>
        <dt class="col-sm-2">
            <label class="form-label">Dirección</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionSucursal)
        </dd>
    </dl>
    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.IdSucursal" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</div>