@model Drogueria1._1_.Models.Bodega

@{
    ViewData["Title"] = "Eliminar";
}

<div class="container mt-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="card bg-light p-4 rounded">
        <h4 class="card-title">Bodega</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                <label class="form-label">Código</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdBodega)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                <label class="form-label">Nombre</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreBod)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                <label class="form-label">Dirección</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DirBodega)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdBodega" />
            <div class="d-grid gap-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>